{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diagnosa Penyakit Anak</title>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="contain">

            <video autoplay loop muted plays-inline class="background-clip">
                <source src="../static/images/Children Hospital.mp4" type="video/mp4">
            </video>

            <div class="about">
                <h1>Sistem Pakar Diagnosa Penyakit Pada Anak Dibawah 5 Tahun</h1>
                <p>Apakah Anda khawatir tentang kesehatan si kecil? Jangan ragu untuk mencari bantuan. Sistem kami siap memberikan diagnosa terbaik untuk anak di bawah 5 tahun</p>
                <button type="button">Konsultasi Sekarang</button>
            </div>
        </div>
    </body>
    </html>
    {% endblock %}
    